{% load static %}
<footer class="row footer">
	<h2 class="shadow-text">Social Media</h2>
	<div class="row">
		<div class="col-1">
			<a href="https://www.linkedin.com/in/taif-qureshi/" class="hover_image">
				<img src="{% static 'images/icons/linkedin/linkedin.png' %}" alt="Linkedin" class="linkedin_image icon_fotter">
				<img src="{% static 'images/icons/linkedin/linkedin_blue.png' %}" alt="Linkedin" class="linkedin_image icon_fotter">
			</a>
		</div>
		<div class="col-1">
			<a href="https://github.com/TaifQureshi" class="hover_image">
				<img src="{% static 'images/icons/github/github.png' %}" alt="Github" class="icon_fotter">
				<img src="{% static 'images/icons/github/github_after.png' %}" alt="Github" class="icon_fotter">
			</a>
		</div>
		<div class="col"></div>
	</div>
	<hr>
	<p class="foot_note shadow-text">Copyright © 2022 Taif Qureshi</p>
</footer>